body
{
    text-align:center;
}
.fadeOut
{
    -webkit-transition:2s ease;
    opacity:0;
}
.displayNone
{
    display:none;
}
#table
{
    width:100%;
    text-align:center;
    align:center;
}
.transparent
{
    opacity:0;
}
.fadeIn
{
    -webkit-transition:2s ease;
    opacity:1;
}
table
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 18px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    margin:20px auto;
    align:center;
}
#setColor
{
    background-color:yellow;
}
#clock
{
    opacity : .8;
    background-color : chartreuse;
}
#cnvs
{
    position:absolute;
    right:0px;
    bottom:0px;
    width:300px;
    height:300px;
    background-color: chartreuse;
    opacity: .8;
}
#cnvs:hover
{
    opacity:1;
    -webkit-transition:.5s ease;
}